<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/nav.ejs") %>
    <div>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, odit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, magnam!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, nemo!</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>