<nav>
    <div id="logo">
        <h1>One Blog</h1>
        <p>SuperBlog</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
    </ul>
</nav>